<div class="container mt-3">
    <h2>Tabel User</h2>    
    <div class="container mt-3">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/','dashboard','user','add']">Tambah User </button>
    </div> 
    <br>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th> No </th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th> Aksi </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userList; let i = index">
          <td> {{ i + 1}} </td>
          <td> {{data.name}}  </td>
          <td>{{data.phone}}</td>
          <td>{{data.email}}</td>
          <td>
            <button [routerLink]="['/','dashboard','user','userdetail', data.id]" type="button" class="btn btn-primary">Lihat user</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<router-outlet></router-outlet>
  