<div class="container mt-3">
    <h2>Tabel Produk </h2>    
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/','dashboard','product','add']">Tambah  Produk </button>         
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Nama kategori</th>
          <th>stok</th>
          <th> aksi </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of productList; let i = index ">
          <td>{{i + 1}}</td>
          <td>{{data.name}}</td>
          <td>{{data.categoryName}}</td>
          <td>{{ data.stok }}</td>
          <td><button type="button" class="btn btn-primary" [routerLink]="['/','dashboard','product','productdetails', data.id]"> Lihat produk </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>