<div class="container mt-3">
    <h2>Tabel Katgori </h2>            
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Nama kategori</th>
          <th>stok</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>pisang</td>
          <td>makanan</td>
          <td>200</td>
        </tr>
        <tr>
            <td>2</td>
            <td>pisang</td>
            <td>makanan</td>
            <td>200</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Handphone<td>
            <td>Elektronik</td>
            <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
  