<div class="card mb-4">
    <div class="card-header py-3">
      <h5 class="mb-0">User Details </h5>
    </div>
    <form [formGroup]="userUpdateForm" >
    <div class="form-control">
        <label class="form-control" for="formControlReadonly">Id</label>
        <input
          class="form-control"
          id="formControlReadonly"
          type="text"
          value="{{userId}}"
          aria-label="readonly input example"
          readonly
        />
    </div>
    <div class="form-control">
        <label class="form-control" for="formControlReadonly">Name</label>
        <input
          class="form-control"
          id="formControlReadonly"
          type="text"
          aria-label="readonly input example"
          formControlName="name"
        />
    </div>
    <div class="form-control">
        <label class="form-control" for="formControlReadonly">email</label>
        <input
          class="form-control"
          id="formControlReadonly"
          type="text"
          aria-label="readonly input example"
          formControlName="email"
        />
    </div>
    <div class="form-control">
        <label class="form-control" for="formControlReadonly">phone</label>
        <input
          class="form-control"
          id="formControlReadonly"
          type="text"
          aria-label="readonly input example"
          formControlName="phone"
        />
    </div>
  </form>
</div>
<button (click)="update()" type="button" style="margin-left: 5px;" class="btn btn-primary">Update</button>
<button [routerLink]="['/','dashboard','user']" type="submit" style="margin-left: 10px;" class="btn btn-danger" (click)="onClickDelete()">Hapus</button>
<router-outlet></router-outlet>
